<div class="profile-container">
    <h2>Profile Settings</h2>
    <div class="user-info">
        <label for="name">
            Name:
        </label>
        <input type="text" name="name" value="Mussa Badru" disabled>
    </div>
    <div class="user-info">
        <label for="email">
            Email:
        </label>
        <input type="email" name="email" value="mussabadru@gmail.com" disabled>
    </div>
    <div class="user-info">
        <label for="phone">
            Phone:
        </label>
        <input type="tel" name="phone" value="+255 772704195" disabled>
    </div>
    <div class="user-info">
        <label for="department">
            Department:
        </label>
        <input type="text" name="department" value="Computer Science and Information Technology" disabled>
    </div>
    <div class="user-info">
        <label for="campus">
            Campus:
        </label>
        <input type="text" name="campus" value="Tunguu" disabled>
    </div>
    <div class="edit-info">
        <button type="button" id="btn-edit">Edit</button>
        &nbsp;
        <button type="button" id="btn-save" disabled>Save</button>
    </div>
</div>