
    <mat-toolbar color="primary">
        <span>SUZA COMPLAIN</span>
        <div class="spacer"></div>
     <a mat-button>Home</a>
     <a mat-button routerLink="Log In"  class="mx-2" routerLink="/login">Log In</a>
     <a mat-button routerLink="Log Out" class="mx-2">Log Out</a>
     <a mat-button routerLink="Contact" class="mx-2">Contact</a>
     <a mat-botton routerLink="Complain" class="mx-2">Complain</a>
     <a mat-button routerLink="About Us" class="mx-2">About Us</a>
    </mat-toolbar>
